body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Task Manager - CSS */
.welcome{
  font-family: 'Kalam', cursive;
  color: #603;
  padding: 40px 0px 40px 0px;
}

.taskI{
  color: #603;
  padding: 10px 0px 20px 0px;
  font-size: 20px;
}