body{
  background-color: #EFEFBB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Home Page*/
.hometitle {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.hometitle:first-of-type {   
  animation: showup 20s infinite;
}

.hometitle:last-of-type {
  width:0px;
  animation: reveal 10s infinite;
}

.hometitle:last-of-type span {
  margin-left:-455px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-500px; }
    20% { margin-left:-500px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:400px;}
    80% {opacity:1;}
    100% {opacity:0;width:400px;}
}



/* Task Manager - CSS */
.welcome{
  font-family: 'Kalam', cursive;
  color: #603;
  padding: 40px 0px 40px 0px;
}
.welcome2{
  font-family: 'Kalam', cursive;
  color: #603;
  font-size: 25px;
}

.TaskP{
  padding-left: 120px;
  color: #603;
}

.taskI{
  color: #603;
  padding: 10px 0px 20px 0px;
  font-size: 20px;
}

.TopTasks{
  padding-top: 10px;

}

Link{
  text-decoration: none;
}

.geral{
  color: #603;
  font-size: 20px;
}

.nav-link{
  text-decoration: none;
  color:#c48ca8
}

.userbar{
  justify-content: flex-end;
}

.cardN {
  background: #603; 
  background: -webkit-linear-gradient(to right, #4c044e, #603); 
  background: linear-gradient(to right, #4c044e, #603);
  padding: 20px;      
}

th{
  background: #603; 
  background: -webkit-linear-gradient(to right, #4c044e, #603); 
  background: linear-gradient(to right, #4c044e, #603);
  color: #917984;
}
.Title {
  color: #917984;
  padding: 10px 0px 10px 30px;
}



.button{
  padding-top: 20px;
}

label{
  font-weight: bold;
  color:#917984
}

.TopTasks{
  padding: 30px;
  color: #603;
  font-size: 60px;
}

.button:hover {filter: opacity(.5);}

.cardT {
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  background: #d3becc;
}

/* .cardT:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
} */


.descrip{
  color: #660033;
  font-weight: bold;
}

.card-body{
  margin-top: 20px;
}