body{
  background: #D3CCE3;
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
}

/* NavBar */

/*Home Page*/
.welcome{
  font-family: 'Georama', sans-serif;
  background: linear-gradient(to right, #D3CCE3 0%, #603 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  padding: 40px 0px 40px 0px;
}

.homeimg{
  width: 40%;
}

.hometitle {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.slide{
  color: #603;
  padding: 10px 0px 20px 0px;
  font-size: 2.2rem;
  font-family: 'Georama', sans-serif;
}

.hometitle:first-of-type {   
  animation: showup 20s infinite;
}

.hometitle:last-of-type {
  width:0px;
  animation: reveal 10s infinite;
}

.hometitle:last-of-type span {
  margin-left:-455px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-300px; }
    20% { margin-left:-300px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:100%;}
    80% {opacity:1;}
    100% {opacity:0;width:100%;}
}

.botonTask{
  color: #603;
  font-size: 2rem;
  text-decoration: none;
  padding: 20px;
 }
 .boton{
   padding-top: 60px;
 }
 .boton:hover {
   transform: translateY(-5px) scale(1.005) translateZ(0);
   box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);}


/*Home Page Responsive */
@media screen and (max-device-width : 768px) { 
  .welcome{
    font-size: 2.5rem;
    padding: 100px 0px 40px 0px;
  }

  .homeimg{
    width:15rem;
  }

  .slide{
    color: #603;
    padding: 10px 0px 20px 32px;
    font-size:1rem;
    font-family: 'Georama', sans-serif;
  }

  .hometitle:first-of-type {   
    animation: showup 20s infinite;
  }
  
  .hometitle:last-of-type {
    width:0px;
    animation: reveal 10s infinite;
  }
  
  .hometitle:last-of-type span {
    margin-left:-45px;
    animation: slidein 7s infinite;
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  @keyframes slidein {
      0% { margin-left:-30px; }
      20% { margin-left:-30px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:100%;}
      80% {opacity:1;}
      100% {opacity:0;width:100%;}
  }
  .botonTask{
    color: #603;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px;
   }
   .boton{
     padding: 40px 0px 40px 80px;
   }
  
}

/* About Page */
.logo{
  width: 20%;
}


.welcome2{
  font-family: 'Georama', sans-serif;
  color: #603;
  font-size: 1.5rem;
}
#six{
  border-bottom: solid 8px #efefef;
}

#six .boton3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

#six a {
  text-decoration: none;
}

:root {
  --linkedin:#541058;
  --github:#541058;
  --instagram:#541058;
}

.redes-container{
  display: flex;
  height: 100%;
  align-items:center;
  justify-content:center;
  margin-bottom: 20px;
}

.redes-container ul li{
  display: inline-block;
  margin: 0 5px 0px 5px;
  width: 60px;
  height: 60px;
  text-align: center;
}

.redes-container ul li a{
  display: block;
  padding: 0px;
  background-color: #333;
  color: white;
  line-height: 30px;
  font-size: 20px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 2);
  transition: .2s;
}

.redes-container ul:hover a{
  filter:blur(2px);
}

.redes-container ul li a:hover{
  transform: translate(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 4);
  filter: none;
}

.redes-container ul li .linkedin:hover{
  background-color: var(--linkedin);
}

.redes-container ul li .instagram:hover{
  background-color: var(--instagram);
}

.redes-container ul li .github:hover{
  background-color: var(--github);
}

/*About Page Responsive */
@media screen and (max-device-width : 768px) {
  .logo{
    width: 45%;
  }
  .about{
    margin-left: 40px ;
  }
  .redes-container ul li{
    width: 30px;
    height: 30px;
    text-align: center;
  }
  
  .redes-container ul li a{
    color: white;
    line-height: 15px;
    font-size: 10px;
  }
  .welcome2{
    font-family: 'Georama', sans-serif;
    color: #603;
    font-size: 1rem;
  }
 }

 /* Register Page */
 @media screen and (max-device-width : 768px) {

 }




/* General */
.welcome3{
  font-family: 'Georama', sans-serif;
  color: #603;
  font-size: 1rem;
}
.msj{
  font-family: 'Georama', sans-serif;
  color: #603;
  font-size: 1.1vw;
}

.TaskP{
   color: #603;
}

.nome{
  color: #603;
  font-family:'Georama', sans-serif;
  font-size: 20px;
}

.taskI{
  color: #603;
  padding: 10px 0px 20px 0px;
  font-size: 1.5rem;
  font-family: 'Georama', sans-serif;
}

.TopTasks{
  padding-top: 10px;

}

Link{
  text-decoration: none;
}
.tasklink{
  font-size: 1rem;
  padding-left: 1.5rem;
}
.geral{
  color: #603;
  font-size: 20px;
}

.table{
  width: 18rem;

}

.nav-link{
  text-decoration: none;
  color:#c48ca8
}

.userbar{
  justify-content: flex-end;
}

.cardN {
  background: #603; 
  background: -webkit-linear-gradient(to right, #550c39, #603); 
  background: linear-gradient(to right, #550c39, #603);
  padding: 10px;     
}


.Title {
  color: #917984;
  padding: 10px 0px 10px 30px;
}

.button{
  padding-top: 20px;
}

label{
  font-weight: bold;
  color:#917984
}

.TopTasks{
  padding: 30px;
  color: #603;
  font-size: 60px;
}

.button:hover {filter: opacity(.5);}

.cardT {
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  background: #D3CCE3;
}

/* .cardT:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
} */

.descrip{
  color: #660033;
  font-weight: bold;
}

.card-body{
  margin-top: 20px;
}

@media screen and (max-device-width : 768px) {
  .welcome3{
    font-size: 1rem;
  }
  .msj{
    padding-left: 20px;
  }
    
  .TaskP{
     color: #603;
  }
  
  .taskI{
    padding: 10px 0px 20px 0px;
    font-size: 1.5rem;
  }
  
  .TopTasks{
    padding-top: 10px;
  }
  
  Link{
    text-decoration: none;
  }

  .tasklink{
    font-size: 1rem;
    padding-left: 1.5rem;
  }

  .geral{
    color: #603;
    font-size: 20px;
  }
  
  
  
  .Title {
    color: #917984;
    padding: 10px 0px 10px 30px;
  }
  
  
  
 
}